<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="sangha-responsive-image">
  <template>
    <style>
      :host {
        display: inline-block;
      }
      img {
        width: 100%;
        height: auto;
      }
    </style>
    <img src="[[ _url ]]" alt="[[alt]]"></img>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class SanghaResponsiveImage extends JsonapiSettingsMixin(Polymer.Element) {
      static get is() { return 'sangha-responsive-image'; }

      static get properties() {
        return {
          img: {
            type: String,
          },
          width: {
            type: Number,
          },
          height: {
            type: Number,
          },
          alt: {
            type: String,
          },
          _url: {
            type: String,
            computed: "computeUrl(img, width, height)"
          },
        };
      }

      computeUrl(img, width, height) {
        return  this._appendUrlParam(img, `width=${width}&height=${height}`);
      }

      _appendUrlParam(url, paramString) {
        var url = url || '';

        if (paramString) {
          var bindingChar = url.indexOf('?') >= 0 ? '&' : '?';
          return url + bindingChar + paramString;
        }

        return url;
      }
    }

    window.customElements.define(SanghaResponsiveImage.is, SanghaResponsiveImage);
  </script>
</dom-module>
